name: "Build Node"

on:
  push:


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: '17'
        cache: 'npm'
    - run: npm ci
      name: Clean Install Dependencies
    - run: npm run build
      name: Build